* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: #272e33;
    color: #d3c6aa;

    border-bottom: 2px solid #3d484d;
}

/* LEFT SIDE */

#workspaces {
    margin-left: 10px;
}

#workspaces button {
    background: #343f44;

    color: #859289;

    margin: 6px 5px;
    padding: 0 14px;

    border-radius: 12px;

    transition: all 0.2s ease;
}

#workspaces button.active {
    background: #a7c080;
    color: #272e33;
}

#workspaces button:hover {
    background: #4f5b58;
    color: #d3c6aa;
}

/* CENTER */

#window {
    background: #343f44;

    margin: 6px 0;
    padding: 0 18px;

    border-radius: 12px;

    color: #d3c6aa;
    font-weight: bold;
}

/* RIGHT SIDE */

#network,
#bluetooth,
#clock {
    background: #343f44;

    margin: 6px 5px;
    padding: 0 16px;

    border-radius: 12px;

    color: #d3c6aa;

    transition: all 0.2s ease;
}

#network:hover,
#bluetooth:hover,
#clock:hover {
    background: #4f5b58;
}

/* CLOCK ACCENT */

#clock {
    background: #4f5b58;
    color: #a7c080;
    font-weight: bold;
}
